@font-face {
	src: url('../fonts/IRANSansWeb.eot') format('eot'),
	url('../fonts/IRANSansWeb.ttf') format('ttf'),
	url('../fonts/IRANSansWeb.woff') format('woff');
	font-family: IRANSans;
	font-weight: normal;
	font-style: normal;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
	font-family: IRANSans !important;
	width:100%;
}

#header_form{direction:rtl;float:right;}
#table{direction:rtl;text-align:center;}
#table_head{text-align:center;}
#info_form{direction:rtl;}
#login-forms{border:1px solid white;background:white;padding:20px;}
#logins{float:right;direction:rtl;}
#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
	width:100%;
}
